.form-input-wrapper {
	@apply flex flex-col;
}
.form-input-wrapper label {
	@apply font-semibold capitalize text-lg;
}
.form-input-wrapper input, .form-input-wrapper select{
    @apply py-1.5 px-1 bg-slate-200 rounded-md; 
}

.pulse{
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .05;
  }
}